*,
::before,
::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  border: unset;
  outline: unset;

  font-size: 1rem;
  font-weight: normal;
  text-decoration: unset;
  color: black;

  list-style: none;

  background-color: transparent;
}
