@import './style/reset';

body {
  height: 100vh;

  background-color: whitesmoke;
  background-image: url('./assets/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px;
  background-blend-mode: exclusion;
}
